</head>

<body>
    <header id="header">

        <div class="bg">
            <h1 class="title"><a href="/"><%= titleBanner %></a></h1>
        </div>

        <%- include ("../partials/nav.ejs") %>

    </header>